* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* background: linear-gradient(to right, #1a2a6c, #b21f1f, #b37e0d); */
  background: linear-gradient(to right, #8e0e00, #af7427);
}

.divMenu {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: lightgray;
}


.FilmPaths{
  display: flex;
  flex-flow: row wrap;
  height: auto;
  font-size: 0;
  width: 1090px;
  padding-top: 40px;
}

.Film {
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  text-align: center;
}

.Film img {
  width: 250px;
  height: 375px;
  border-radius: 8px;
}

.Film:nth-child(4n + 4) {
  margin-right: 0px;
}

.buttons {
  display: flex;
}

.loadMore {
  border: 0.3px solid;
  height: 40px;
  width: 120px;
}

.backSlide {
  display: none;
  border: 0.3px solid;
  height: 40px;
  width: 120px;
}

.all{
  position: relative;
}

.hidden-menu {
  position: absolute;
  opacity: 0;
  width: 250px;
  height: 375px;
  border-radius: 8px;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(239, 138, 138, 0.5), rgba(238, 214, 135, 0.5));
}

.all:hover .hidden-menu {
  transition-property: top, left;
  transition: 250ms;
  transition-timing-function: linear;
  opacity: 1;
}

.all:hover {
  /* opacity: 1; */
}

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.hidden-a {
  display: inline-block;
  position: absolute;
  right: 55px;
  top: 160px;
  width: 136px;
  height: 45px;
  font-family: "Pacifico", sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.hidden-a:hover {
  cursor: pointer;
}